.wrap-button-icon{
    width: auto !important;
    height: 36px !important;
    border-radius: 4px;
    padding: 0px 16px 0px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--button-primary-color);
    background-color: var(--button-primary-normal-bg-color);
    border: 1px solid var(--button-primary-normal-border-color);
}

.wrap-button-icon .icon-button{
    -webkit-mask-position: -220px 0;
    -webkit-mask-image: url(../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
    margin-right: 4px;
}

.wrap-button-icon .text-button{
    font-size: 0.95em;
    white-space: nowrap;
    font-weight: 500;
}