.content-wrap{
    flex: 1;
    padding: 16px 24px;
    background-color: #F1F2F1;
}

.content-wrap .content-area{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Start content-title*/
.content-title{
    height: 36px;
    margin-bottom: 16px;
    margin-right: 8px;
}

.title-row{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
}

.title-row .title{
    font-size: 20px;
    font-weight: 700;
    color: #111;
    line-height: 36px;
}

.title-row .wrap-title{
    display: flex;
    align-items: center;
}

.wrap-title .icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.wrap-title .icon-wrap:hover{
    border-radius: 50%;
    background-color: #dadce3!important;
    cursor: pointer;
}

.title-row .icon-title{
    -webkit-mask-position: 0 0;
    -webkit-mask-image: url(../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #707070 ;
    -webkit-mask-position: -180px 0;
}

.title-row .wrap-button-group{
    display: flex;
}
/*End content-title*/

/*Start content-body*/
.content-body{
    position: relative;
}

.content-body .content-body-background{
    height: inherit;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content-body .content-body-tool{
    width: 100%;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    height: 60px;
}

.content-body .content-body-tool .content-tool-without-check{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.content-body .content-body-tool .content-tool-has-check{
    display: flex;
    align-items: center;
    height: 60px;
}

.content-tool-has-check .number-choosed span{
    font-weight: bold;
    margin-left: 5px;
}

.content-tool-has-check .number-choosed{
    margin-right: 15px;
}

.content-tool-has-check .stop-apply{
    font-weight: bold;
    color:rgb(52, 176, 87);
    margin-right: 25px;
    cursor: pointer;
}

.content-body-tool .active-button-delete{
    display: block;
}

.content-body-tool .content-body-tool-right{
    display: flex;
    align-items: center;
}

.content-body-tool-right .filter{
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #fff;
    color: #212121;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-body-tool-right .filter:hover{
    background: var(--primary-bg);
    border: 1px solid var(--primary);
}

.content-body-tool-right .filter .icon-filter{
    -webkit-mask-position: 0 0;
    -webkit-mask-image: url(../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #707070 ;
    -webkit-mask-position: -20px 0;
}

.content-body-tool-right .setting{
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #fff;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.content-body-tool-right .setting:hover{
    background-color: #e0e0e0;
}

.content-body-tool-right .setting .icon-setting{
    -webkit-mask-image: url(../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #707070 ;
    -webkit-mask-position: -48px -120px;
}

.content-body-tool .div-input-search{
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.content-body-tool .div-input-search:hover{
    border: 1px solid var(--input-hover-border-color);
}

.content-body-tool .div-input-search .input-search{
    height: 34px;
    width: 270px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
}

.content-body-tool .div-input-search .input-search::placeholder{
    font-size: 13px;
}

.div-input-search .wrap-icon-input-search{
    width: 30px;
    height: 34px;
    align-items: center;
}

.div-input-search .wrap-icon-input-search .icon-input-search{
    width: 50%;
    height: 50%;
    margin-left: 8px;
    margin-top: 7px;
    -webkit-mask-position: 0 0;
    -webkit-mask-image: url(../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    background-color: #707070!important;
}

/*End content-body*/

/* CSS cho vùng chứa grid */
.content-grid{
    /* width: inherit; */
    height: calc(100vh - 260px);
    z-index: 1;
    background-color: #ffffff;
}

/* Bắt đầu: CSS cho màn "Thêm chính sách lương" */
.general-info-wrap{
    font-size: 16px;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

}

.content-add-screen-wrap{
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-weight: bold;
    background-color: #ffffff;
}

.content-add-screen-wrap .label-name{
    white-space: nowrap;
    width: 250px;
    min-width: 250px;
    padding-right: 8px;
}

.row-flex{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    max-width: 998px;
    
}

.content-add-screen-wrap .red-span{
    color: red !important;
}

.salary-component{
    font-weight: normal;
    font-size: 16px;
    margin-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;

}

.component-button-add{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

/* Kết thúc: CSS cho màn "Thêm chính sách lương" */

/* Bắt đầu: CSS cho Filter */
.responsive-content-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.responsive-content-wrap .responsive-content-main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.responsive-content-wrap .responsive-filter{
    height: 100%;
}
/* Kết thúc: CSS cho Filter */