.wrap-button{
    width: auto !important;
    height: 36px !important;
    border-radius: 4px;
    padding: 0px 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.wrap-button .text-button{
    font-size: 0.95em;
    white-space: nowrap;
    font-weight: 500;
}

.button-white{
    background-color: #fff;
    color: #212121;
    border: 1px solid #ebebeb;
}

.button-white:hover{
    background-color: #fff;
    color: #02b936;
    border: 1px solid #02b936;
}

.button-green{
    color: var(--button-primary-color);
    background-color: var(--button-primary-normal-bg-color);
    border: 1px solid var(--button-primary-normal-border-color);
}

.button-green:hover{
    background-color: var(--button-primary-hover-bg-color);
    border: 1px solid var(--button-primary-hover-border-color);
}

