.validate-text{
    color: #f7453b!important;
    font-size: 12px!important;
    height: auto;
    line-height: 20px;
    font-weight: normal;
    margin-left: 250px;
    margin-top: -14px;
    margin-bottom: 14px;
}