.dx-datagrid-group-panel .dx-group-panel-message {
    display: none;
}

/* Bắt đầu: CSS cho input search */
.dx-toolbar .dx-toolbar-after {
    position: absolute;
    left: 0;
    top: -48px;
}

.dx-toolbar .dx-toolbar-after {
    padding-left: 5px;
}

.dx-toolbar-item-content > .dx-texteditor{
    width: 303px !important;
}

.dx-texteditor.dx-state-focused.dx-editor-outlined{
    border-color: var(--input-hover-border-color);
}

.dx-texteditor.dx-editor-outlined:hover{
    border-color: var(--input-hover-border-color);
}
/* Kết thúc: CSS cho input search */

.dx-datagrid-borders > .dx-datagrid-header-panel {
    height: 0px !important;
}

/*Bat dau: CSS cho checkbox */
.dx-checkbox-icon
{
    border-radius: 4px !important;
    border: 2px solid #737888 !important;
}

.dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed colgroup col:first-child{
    width: 58px !important;
}

.dx-datagrid-checkbox-size.dx-checkbox-checked .dx-checkbox-icon {
    font-size: 12px;
    border: 2px solid #34b057 !important;
    color: transparent;
    background: url(../../../assets/img/Icon.9254d79.svg) -264px -4px no-repeat;
    font-size: 8px !important;
}
/*Ket thuc: CSS cho checkbox */

/*CSS cho  chiều cao của hàng*/
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
    padding: 0;
    height: 48px;
}

/* CSS cho chiều cao của các hàng */
.dx-datagrid-content .dx-datagrid-table .dx-row
{
    height: 33px !important;
} 

/* Set border */
.dx-datagrid-content .dx-datagrid-table .dx-row td
{
    border-bottom: 1px solid #ddd !important;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-lines) > td {
    border-top: none !important;
}

/* CSS cho border các td: Bỏ border cho các td */
.dx-datagrid .dx-column-lines > td {
    border-left: none;
    border-right: none;
}


/* Set border right cho cột chứ 2 */
.dx-datagrid-content .dx-datagrid-table .dx-row td:nth-child(2){
    border-right: 1px solid #ddd;
}

/* Set lại padding */
.dx-datagrid .dx-row > td {
    padding: 0 16px;
    line-height: 48px;
}

/* Set màu text của tiêu đề bảng */
.dx-datagrid-nowrap .dx-header-row>td>.dx-datagrid-text-content{
    font-weight: 700;
    letter-spacing: 0.14px;
    color: var(--text-primary-color);
    
}

/* Set background cho tiêu đề bảng */
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    background: #f6f6f6;
}

.dx-widget .dx-visibility-change-handler
{
    border-left: none !important;
    border-right: none !important;
}

/* Bỏ border thead */
.dx-datagrid-borders > .dx-datagrid-headers
{
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

/* Click checkbox active màu cho các hàng */
.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {  
    background-color: #eafbf2 !important;  
    color: #333;  
}  
  
.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {  
    background-color: #eafbf2 !important;  
    color: #333;  
}

.dx-datagrid-rowsview .dx-data-row.dx-row.dx-column-lines:hover{
    background-color: var(--primary-bg) !important;
    cursor: pointer;
}

/* Css cho paging */
.dx-datagrid-pager {
    display: none;
}

.dx-row.dx-freespace-row {
    display: none;
}

/*Bắt đầu: CSS cho cột chức năng cuối cùng */
.dx-state-hover .box-option{
    display: flex;
}

.box-option{
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
}

.box-option .box-btn{
    display: flex;
    align-items: center;
}

.box-btn .url-background{
    -webkit-mask-image: url(../../../assets/img/Icon.9254d79.svg);
    -webkit-mask-repeat: no-repeat;
    margin: 0 10px;
}

.box-btn .btn-stop-apply{
    -webkit-mask-position: -220px -40px;
    background-color: #f90!important;
}

.box-btn .btn-edit{
    -webkit-mask-position: -60px 0;
    background-color: #707070!important;
}

.box-btn .btn-delete{
    -webkit-mask-position: -120px -20px;
    background-color: #ff6161!important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row:last-child {
    border-left: none;
}

.dx-datagrid-content .dx-datagrid-table {
    border-collapse: inherit;
}

/*Kết thúc: CSS cho cột chức năng cuối cùng */
